# ===============================
# Database Configuration
# ===============================
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: ${DRIVER_CLASS_NAME}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: ${HIBERNATE_DIALECT}

# ===============================
# Server Configuration
# ===============================
server:
  port: 8080

# ===============================
# JWT Configuration
# ===============================
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
