# ===============================
# Database Configuration
# ===============================
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: ${DRIVER_CLASS_NAME}
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
  flyway:
    enabled: true
    baseline-on-migrate: false
    locations: classpath:db/migration
    validate-on-migrate: true
    fail-on-missing-location: true
  cache:
    type: redis
    redis:
      time-to-live: 600000 # 10 minutes in ms
  redis:
    host: redis
    port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: true
    database-platform: ${HIBERNATE_DIALECT}

# ===============================
# Server Configuration
# ===============================
server:
  port: 8080

# ===============================
# JWT Configuration
# ===============================
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG