name: pg-finder-backend-ci
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-code
        uses: actions/checkout@v4

      - name: setup jdk 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: pg-finder-backend-jar
          path: target/*.jar

      - name: Build with Maven
        run: mvn clean package -DskipTests
    env:
      SPRING_PROFILES_ACTIVE: test
