name: pg-finder-backend-ci
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-code
        uses: actions/checkout@v4

      - name: setup jdk 17
        uses: actions/setup-java-17
        with:
          java version: 17
          distribution: 'temurin'

      - name: build with maven
        run: mvn clean test package